<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
   <head>
      <meta http-equiv="Content-Type"  content="text/html charset=UTF-8" />
      <title>Previsione STEG</title>
   </head>
   <body>
      <table>
         <tr valign="top">
            <td>
               <table style="border: 2px solid #000000; border-collapse: collapse;">
                  <thead>
                     <tr style="border: 2px solid #000000;">
                        <td colspan="2" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight: bold; color: white; background-color: #00B0F0; padding-top: 5px; padding-bottom: 2px; border-bottom: 2px solid #000000;">FCT WITHINDAY PREVISIONE</td>
                     </tr>
                  </thead>
                  <tbody>
                     <tr style="background-color: #FFFFFF">
                        <td nowrap style="font-weight: bold; padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:120;border: 2px solid #000000">Previsione</td>
                        <td nowrap style="padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:130;border: 2px solid #000000"><%= prv_report[:prv][:previsione] %></td>
                     </tr>
                     <tr style="background-color: #DDEBF7">
                        <td nowrap style="font-weight: bold; padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:120;border: 2px solid #000000">Nomina STEG</td>
                        <td nowrap style="padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:130;border: 2px solid #000000"><%= prv_report[:prv][:nomina_steg] %></td>
                     </tr>
                     <tr style="background-color: #FFFFFF">
                        <td nowrap style="font-weight: bold; padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:120; border: 2px solid #000000">STEG Progres.</td>
                        <td nowrap style="padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:130; border: 2px solid #000000;"><%= prv_report[:prv][:nom_steg_progre] %></td>
                     </tr>
                     <tr style="background-color: #DDEBF7">
                        <td nowrap style="font-weight: bold; padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:120; border: 2px solid #000000">Consuntivo</td>
                        <td nowrap style="padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:130; border: 2px solid #000000;"><%= prv_report[:prv][:consuntivo] %></td>
                     </tr>
                  </tbody>
               </table>
            </td>
            <td>
               <!-- Column #2 -->
               &nbsp;&nbsp;&nbsp;
            </td>
            <td>
               <table style="border: 2px solid #000000; border-collapse: collapse; display: inline-block;">
                  <thead>
                     <tr style="border: 2px solid #000000;">
                        <td colspan="2" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight: bold; color: white; background-color: #00B0F0; padding-top: 5px; padding-bottom: 2px; border-bottom: 2px solid #000000;">FCT DICOM</td>
                     </tr>
                  </thead>
                  <tbody>
                     <tr style="background-color: #FFFFFF">
                        <td nowrap style="font-weight: bold; padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:120;border: 2px solid #000000">Previsione</td>
                        <td nowrap style="padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:130;border: 2px solid #000000"><%= prv_report[:dicom][:previsione] %></td>
                     </tr>
                     <tr style="background-color: #DDEBF7">
                        <td nowrap style="font-weight: bold; padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:120;border: 2px solid #000000">Nomina STEG</td>
                        <td nowrap style="padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:130;border: 2px solid #000000"><%= prv_report[:dicom][:nomina_steg] %></td>
                     </tr>
                     <tr style="background-color: #FFFFFF">
                        <td nowrap style="font-weight: bold; padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:120; border: 2px solid #000000">STEG Progres.</td>
                        <td nowrap style="padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:130; border: 2px solid #000000;"><%= prv_report[:dicom][:nom_steg_progre] %></td>
                     </tr>
                     <tr style="background-color: #DDEBF7">
                        <td nowrap style="font-weight: bold; padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:120; border: 2px solid #000000">Consuntivo</td>
                        <td nowrap style="padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:130; border: 2px solid #000000;"><%= prv_report[:dicom][:consuntivo] %></td>
                     </tr>
                  </tbody>
               </table>
            </td>
            <td>
               <!-- Column #2 -->
               &nbsp;&nbsp;&nbsp;
            </td>
            <td>
               <table style="border: 2px solid #000000; border-collapse: collapse; display: inline-block;">
                  <thead>
                     <tr style="border: 2px solid #000000;">
                        <td colspan="2" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight: bold; color: white; background-color: #00B0F0; padding-top: 5px; padding-bottom: 2px; border-bottom: 2px solid #000000;">FCT SIMULAZIONE</td>
                     </tr>
                  </thead>
                  <tbody>
                     <tr style="background-color: #FFFFFF">
                        <td nowrap style="font-weight: bold; padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:120;border: 2px solid #000000">Previsione</td>
                        <td nowrap style="padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:130;border: 2px solid #000000"><%= prv_report[:simulazione][:previsione] %></td>
                     </tr>
                     <tr style="background-color: #DDEBF7">
                        <td nowrap style="font-weight: bold; padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:120;border: 2px solid #000000">Nomina STEG</td>
                        <td nowrap style="padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:130;border: 2px solid #000000"><%= prv_report[:simulazione][:nomina_steg] %></td>
                     </tr>
                     <tr style="background-color: #FFFFFF">
                        <td nowrap style="font-weight: bold; padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:120; border: 2px solid #000000">STEG Progres.</td>
                        <td nowrap style="padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:130; border: 2px solid #000000;"><%= prv_report[:simulazione][:nom_steg_progre] %></td>
                     </tr>
                     <tr style="background-color: #DDEBF7">
                        <td nowrap style="font-weight: bold; padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:120; border: 2px solid #000000">Consuntivo</td>
                        <td nowrap style="padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:130; border: 2px solid #000000;"><%= prv_report[:simulazione][:consuntivo] %></td>
                     </tr>
                  </tbody>
               </table>
            </td>
         </tr>
      </table>
   </body>
</html>
