<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
   <head>
      <meta http-equiv="Content-Type"  content="text/html charset=UTF-8" />
      <title>Previsione STEG</title>
   </head>
   <body>
      <table>
         <tr valign="top">
            <td>
               <table style="border: 2px solid #000000; border-collapse: collapse;">
                  <thead>
                     <tr style="border: 2px solid #000000;">
                        <td colspan="2" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight: bold; color: white; background-color: #00B0F0; padding-top: 5px; padding-bottom: 2px; border-bottom: 2px solid #000000;">PREVISIONE</td>
                     </tr>
                  </thead>
                  <tbody>
                     <tr style="background-color: #FFFFFF">
                        <td nowrap style="font-weight: bold; padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:120;border: 2px solid #000000">Previsione V3</td>
                        <td nowrap style="padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:130;border: 2px solid #000000"><%= prv_report[:prv][:previsione] %></td>
                     </tr>
                     <tr style="background-color: #DDEBF7">
                        <td nowrap style="font-weight: bold; padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:120;border: 2px solid #000000">Nomina STEG</td>
                        <td nowrap style="padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:130;border: 2px solid #000000"><%= prv_report[:prv][:nomina_steg] %></td>
                     </tr>
                     <tr style="background-color: #FFFFFF">
                        <td nowrap style="font-weight: bold; padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:120; border: 2px solid #000000">STEG Progres.</td>
                        <td nowrap style="padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:130; border: 2px solid #000000;"><%= prv_report[:prv][:nom_steg_progre] %></td>
                     </tr>
                     <tr style="background-color: #DDEBF7">
                        <td nowrap style="font-weight: bold; padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:120; border: 2px solid #000000">Consuntivo</td>
                        <td nowrap style="padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:130; border: 2px solid #000000;"><%= prv_report[:prv][:consuntivo] %></td>
                     </tr>
                  </tbody>
               </table>
            </td>
            <td>
               <!-- Column #2 -->
               &nbsp;&nbsp;&nbsp;
            </td>
            <td>
               <table style="border: 2px solid #000000; border-collapse: collapse; display: inline-block;">
                  <thead>
                     <tr style="border: 2px solid #000000;">
                        <td colspan="2" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight: bold; color: white; background-color: #00B0F0; padding-top: 5px; padding-bottom: 2px; border-bottom: 2px solid #000000;">DICOM</td>
                     </tr>
                  </thead>
                  <tbody>
                     <tr style="background-color: #FFFFFF">
                        <td nowrap style="font-weight: bold; padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:120;border: 2px solid #000000">Previsione V3</td>
                        <td nowrap style="padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:130;border: 2px solid #000000"><%= prv_report[:dicom][:previsione] %></td>
                     </tr>
                     <tr style="background-color: #DDEBF7">
                        <td nowrap style="font-weight: bold; padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:120;border: 2px solid #000000">Nomina STEG</td>
                        <td nowrap style="padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:130;border: 2px solid #000000"><%= prv_report[:dicom][:nomina_steg] %></td>
                     </tr>
                     <tr style="background-color: #FFFFFF">
                        <td nowrap style="font-weight: bold; padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:120; border: 2px solid #000000">STEG Progres.</td>
                        <td nowrap style="padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:130; border: 2px solid #000000;"><%= prv_report[:dicom][:nom_steg_progre] %></td>
                     </tr>
                     <tr style="background-color: #DDEBF7">
                        <td nowrap style="font-weight: bold; padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:120; border: 2px solid #000000">Consuntivo</td>
                        <td nowrap style="padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:130; border: 2px solid #000000;"><%= prv_report[:dicom][:consuntivo] %></td>
                     </tr>
                  </tbody>
               </table>
            </td>
            <td>
               <!-- Column #2 -->
               &nbsp;&nbsp;&nbsp;
            </td>
            <td>
               <table style="border: 2px solid #000000; border-collapse: collapse; display: inline-block;">
                  <thead>
                     <tr style="border: 2px solid #000000;">
                        <td colspan="2" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight: bold; color: white; background-color: #00B0F0; padding-top: 5px; padding-bottom: 2px; border-bottom: 2px solid #000000;">SIMULAZIONE</td>
                     </tr>
                  </thead>
                  <tbody>
                     <tr style="background-color: #FFFFFF">
                        <td nowrap style="font-weight: bold; padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:120;border: 2px solid #000000">Previsione V3</td>
                        <td nowrap style="padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:130;border: 2px solid #000000"><%= prv_report[:simulazione][:previsione] %></td>
                     </tr>
                     <tr style="background-color: #DDEBF7">
                        <td nowrap style="font-weight: bold; padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:120;border: 2px solid #000000">Nomina STEG</td>
                        <td nowrap style="padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:130;border: 2px solid #000000"><%= prv_report[:simulazione][:nomina_steg] %></td>
                     </tr>
                     <tr style="background-color: #FFFFFF">
                        <td nowrap style="font-weight: bold; padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:120; border: 2px solid #000000">STEG Progres.</td>
                        <td nowrap style="padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:130; border: 2px solid #000000;"><%= prv_report[:simulazione][:nom_steg_progre] %></td>
                     </tr>
                     <tr style="background-color: #DDEBF7">
                        <td nowrap style="font-weight: bold; padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:120; border: 2px solid #000000">Consuntivo</td>
                        <td nowrap style="padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:130; border: 2px solid #000000;"><%= prv_report[:simulazione][:consuntivo] %></td>
                     </tr>
                  </tbody>
               </table>
            </td>
         </tr>
      </table>
      <table style="margin-left: 160px; padding-top: 16px;">
         <tr valign="top">
            <td>
               <table style="border: 2px solid #000000; border-collapse: collapse; display: inline-block;">
                  <thead>
                     <tr style="border: 2px solid #000000;">
                        <td colspan="5" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight: bold; color: white; background-color: #00B0F0; padding-top: 5px; padding-bottom: 2px; border-bottom: 2px solid #000000;">DAILY EVOLUTION</td>
                     </tr>
                     <tr style="background-color: #00B0F0">
                        <td nowrap style="padding: 2px 5px 1px 5px; font-weight: bold; padding: 3px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color: white; width:60; border: 2px solid #000000">Hour</td>
                        <td nowrap style="padding: 2px 5px 1px 5px; font-weight: bold; padding: 3px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color: white; width:110; border: 2px solid #000000">Nomina</td>
                        <td nowrap style="padding: 2px 5px 1px 5px; font-weight: bold; padding: 3px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color: white; width:110; border: 2px solid #000000">Previsione V3</td>
                        <td nowrap style="padding: 2px 5px 1px 5px; font-weight: bold; padding: 3px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color: white; width:110; border: 2px solid #000000">STEG Progres.</td>
                        <td nowrap style="padding: 2px 5px 1px 5px; font-weight: bold; padding: 3px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color: white; width:110; border: 2px solid #000000">Nomina Goal</td>
                     </tr>
                  </thead>
                  <tbody>
                     <% 10.upto(20) do |i| %>
                     <% color = i.even? ? "#FFFFFF" : "#DDEBF7" %>
                      <tr style="background-color: <%= color %>">
                            <td nowrap style="padding: 2px 5px 1px 7px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:60;border: 2px solid #000000"><%= i %></td>
                            <td nowrap style="padding: 2px 5px 1px 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:110;border: 2px solid #000000"><%= prv_daily_evolution[:nomina][i-10] %></td>
                            <td nowrap style="padding: 2px 5px 1px 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:110;border: 2px solid #000000"><%= prv_daily_evolution[:previsione][i-10] %></td>
                            <td nowrap style="padding: 2px 5px 1px 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:110;border: 2px solid #000000"><%= prv_daily_evolution[:steg_progr][i-10] %></td>
                            <td nowrap style="padding: 2px 5px 1px 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; width:110;border: 2px solid #000000"><%= prv_daily_evolution[:nomina_goal][i-10] %></td>
                      </tr>
                     <% end %>
                  </tbody>
               </table>
            </td>
         </tr>
      </table>
   </body>
</html>
